<h2>Please, enter your password.</h2>
<mat-divider></mat-divider>
<form [formGroup]="passwordForm" style="margin-top: 20px;">
  <mat-form-field hintLabel="Min 8 characters" appearance="fill" style="width:100%">
    <mat-label>Enter your password </mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="New password" formControlName="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-hint align="end">{{passwordForm.get('password').value?.length || 0}} characters.</mat-hint>
    <mat-error *ngIf="passwordForm.hasError('required', 'password')">
        Please enter your new password
    </mat-error>
    <mat-error *ngIf="passwordForm.get('password').hasError('pattern')">
        Password must contain at least eight characters and can only include letters, numbers and the special characters: @ , - , _
    </mat-error>
  </mat-form-field>
  <br/><br/>
  <mat-form-field appearance="fill" style="width:100%" >
    <mat-label>Confirm your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm password" formControlName="confirmPassword">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-hint align="end">{{passwordForm.get('confirmPassword').value?.length || 0}} characters.</mat-hint>
    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('MatchPassword')">
      Passwords do not match
    </mat-error>  
  </mat-form-field>
  <br/><br/>
  <mat-divider></mat-divider>
  <button style="margin: 15px 30% 0px 30%;" submit (click)="guardarPassword()" [disabled]="!(passwordForm.valid && (passwordForm.dirty))" mat-raised-button color="accent">Submit</button>
</form>