<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Occupacity - Raspberry</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-dark" style="background-color:#00324b">
            <div class="container-fluid">
                <div class="col-4">
                        <a onclick="ir_inicio()" href="#"><img style="width:150px" src="/img/occupancy.png"/></a>
                </div>
                <div class="col-6">
                    <span class="navbar-text text-center">
                        TFM Javier Boned
                        <a href="https://www.uma.es"><img style="width:150px" src="/img/uma.png"/></a>
                    </span>
                </div>
                <div class="col-2">
                    <span class="navbar-text">
                        <img style="width:150px" src="/img/nucypher.png"/>
                    </span>
                </div>
            </div>
        </nav>
        <div id="contenido" style="margin-left: 0px;">
            <div class="container mt-4">
                <h1>Upload the JSON configuration file, please.</h1>
            </div>
        </div>
    </body>
</html>
