<div class="bg">
    <div class="toolbar-space"></div>
    <div class="container-center" data-aos="flip-up" data-aos-duration="2500">
        <h1>Welcome to Occupancy</h1>
        <h3 style="padding-left:10%;">The first fully decentralised platform to check the occupancy of restaurants and bars in Malaga.</h3>
        <button mat-raised-button color="accent" class="boton-meta" (click)="login()"><a fxHide.lt-md="true">Sign up with Metamask</a><img width="50" src="../assets/img/metamask.png"></button>
    </div>
</div> 
<div class="bg-pattern"></div>
<div class="container">  
    <div data-aos="zoom-in" data-aos-duration="2000" class="mini-container-center">
        <div style="padding: 50px;">
        <h2 style="text-align: center;">The project</h2>
        <p>The Occupancy project is based on creatin a decentralized system where users can check, through a subscription system, the occupancy of restaurants and bars in Malaga, preserving their privacy and security using the new NuCypher network. To do this, follow the steps below:</p>
        </div>
    </div>
    <div class="divider"><mat-divider></mat-divider></div>
    <div fxLayout="row" style="height:200px" fxLayoutGap="20px" style="overflow-x: hidden;padding:20px">
        <div data-aos="fade-right" data-aos-duration="2000" fxFlex="30%" fxFlex.lt-md="40%" fxLayout fxLayoutAlign="center center" style="overflow-x:hidden">
            <img class="img-home" fxFlexAlign="center center" src="../../assets/img/metamask_frente.png">
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" fxFlex="70%" fxFlex.lt-md="60%" fxLayout fxLayoutAlign="center center" style="overflow-x:hidden">
            Log in with the popular "Metamask" browser extension and link your Ethereum wallet.
        </div>     
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" style="height:200px" fxLayoutGap="20px" style="overflow-x: hidden;padding:20px">
        <div data-aos="fade-right"data-aos-duration="2000" fxFlex="60%" fxLayout fxLayoutAlign="center center" style="overflow-x:hidden">
            Using the NuCypher Network, Occupancy will show you the occupancy details of the restaurants you are subscribed to. You could check the available restaurants by choosing the areas of Málaga you are interested in.
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" fxFlex="35%" fxLayout fxLayoutAlign="center center" style="overflow-x:hidden">
            <img class="img-home" fxFlexAlign="center center" src="../../assets/img/nucypher_logo.png">
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" style="height:200px" fxLayoutGap="20px" style="overflow-x: hidden;padding:20px">
        <div data-aos="fade-right"data-aos-duration="2000" fxFlex="30%" fxFlex.lt-md="40%" fxLayout fxLayoutAlign="center center" style="overflow-x:hidden">
            <img class="img-home" fxFlexAlign="center center" src="../../assets/img/ethereum.png">
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" fxFlex="70%" fxFlex.lt-md="60%" fxLayout fxLayoutAlign="center center" style="overflow-x: hidden;">
            To subscribe to new restaurants, pay the required fees via your Ethereum wallet and wait for the app to give you the required permission.
        </div>
    </div>
    <mat-divider></mat-divider>
    <br/><br/><br/><br/>
</div>  


                

